@import "variables";

.header {
  display: flex;
  align-items: center;

  color: $text-color-light;
  background: $primary-color;
  flex-basis: $base;
  box-sizing: border-box;
  padding: 0 $quarter;

  .logo,
  .header-link {
    color: $text-color-light;
    text-decoration: none;
  }

  .header-links {
    display: flex;
    flex-flow: row wrap;
    list-style: none;
    padding: 0 0 0 $quarter;
    margin: 0;

    li {
      padding-left: $quarter;

      .active-link {
        font-weight: bold;
        font-size: 1.0em;
      }
    }
  }

  .header-clock {
    margin-left: auto;
  }
}
