.tictac-container {
  height: 230px;
  width: 100%;
  position: relative;
  background: #14bdac;

  $cell-size: 64px;
  $lattice-width: 6px;
  $table-width: $cell-size * 3 + $lattice-width * 2;
  $table-height: $cell-size * 3 + $lattice-width * 2;

  $circle-dasharray: 150.8; // 2 * PI * R where R = 24

  @keyframes lattice-animation {
    to { stroke-dashoffset: 0; }
  }

  @keyframes circle-animation {
    to { stroke-dashoffset: 0; }
  }

  @keyframes cross-animation {
    to { stroke-dashoffset: 0; }
  }

  .lattice svg {
    position: absolute;
    z-index: 0;
    margin: auto;
    width: $table-width;
    height: $table-height;
    // top: 0;
    // bottom: 0;
    left: 0;
    right: 0;

    .path {
      stroke: #0da192;
      stroke-width: $lattice-width;
      stroke-dasharray: 100%;
      stroke-dashoffset: 100%;
      animation: lattice-animation 1.5s 1 forwards;
    }
  }

  .circle {
    svg {
      width: $cell-size;
      height: $cell-size;
    }

    .path {
      fill: none;
      stroke: #f2ebd3;
      stroke-width: $lattice-width;
      stroke-dasharray: $circle-dasharray;
      stroke-dashoffset: $circle-dasharray;
      animation: circle-animation 0.5s 1 forwards;
    }
  }

  .cross {
    svg {
      width: $cell-size;
      height: $cell-size;
    }

    .path {
      stroke: #545454;
      stroke-width: $lattice-width;
      stroke-dasharray: 110%;
      stroke-dashoffset: 110%;
      animation: cross-animation 0.5s 1 forwards;
    }
  }

  .field {
    display: grid;
    position: relative;
    z-index: 3;
    grid-template: repeat(3, $cell-size) / repeat(3, $cell-size);
    width: $table-width;
    height: $table-height;
    gap: $lattice-width;
    margin: auto;
  }
}
